body a {
    color: #66a;
}

body a:hover {
    color: #000;
}

body span.label a {
    color: #fff;
}

.edit-post-title {
    margin-bottom: 10px;
}

.edit-post-category {
    margin-bottom: 10px;
    float: left;
}

.edit-post-summary {
    margin-bottom: 10px;
    float: left;
}

#main {
    padding: 10px 10px 10px 10px;
    line-height: 150%;
    color: #333;
}

#main h1 {
    font-size: 200%;
    font-weight: normal;
    line-height: 140%;
    padding-bottom: 5px;
}

#main h1.post-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 200%;
}

#main h1.post-title a {
    color: #666;
}

#main h1.post-title a:hover {
    color: #000;
    text-decoration: none;
}

#main p {
    font-size: 110%;
    line-height: 150%;
    margin-bottom: 20px;
}

#main .post {
    margin-bottom: 20px;
}

#main .post .post_body ul {
    font-size: 120%;
    line-height: 150%;
}

#main .post .post_body ul ul {
    font-size: 100%;
    line-height: 150%;
}

#main .posted {
    font-size: 100%;
    font-weight: normal;
    padding-bottom: 4px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

#main .posted span a {
    color: #27ae60;
}

.category-span {
    color: #27ae60;
}

#main .posted span a:hover {
    text-decoration: underline;
}

#main .post {
    margin-bottom: 20px;
}

.sidebar-bg {
    background-color: #f0f0f0;
    margin-top: 10px;
}

#sidebar {
    font-size: 100%;
    margin-bottom: 16px;
}

/* Tomorrow Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */
.pln {
    color: #4d4d4c;
}

@media screen {
    .str {
        color: #718c00;
    }

    .kwd {
        color: #8959a8;
    }

    .com {
        color: #8e908c;
    }

    .typ {
        color: #4271ae;
    }

    .lit {
        color: #f5871f;
    }

    .pun {
        color: #4d4d4c;
    }

    .opn {
        color: #4d4d4c;
    }

    .clo {
        color: #4d4d4c;
    }

    .tag {
        color: #c82829;
    }

    .atn {
        color: #f5871f;
    }

    .atv {
        color: #3e999f;
    }

    .dec {
        color: #f5871f;
    }

    .var {
        color: #c82829;
    }

    .fun {
        color: #4271ae;
    }
}

@media print, projection {
    .str {
        color: #006600;
    }

    .kwd {
        color: #006;
        font-weight: bold;
    }

    .com {
        color: #600;
        font-style: italic;
    }

    .typ {
        color: #404;
        font-weight: bold;
    }

    .lit {
        color: #004444;
    }

    .pun, .opn, .clo {
        color: #444400;
    }

    .tag {
        color: #006;
        font-weight: bold;
    }

    .atn {
        color: #440044;
    }

    .atv {
        color: #006600;
    }
}

pre.prettyprint {
    background: #f8f8f8;
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    font-size: 12px;
    line-height: 1.5;
    border: 1px solid #cccccc;
    padding: 10px;
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
}
