{% extends "base.html" %}
{% block title %}
    Idachengzi - About me
{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>About me</h1>
    </div>
    <div class="col-md-8" style="font-size: 110%">
        <p>聂凯，21岁，一个非常懒，大学荒废了大半，决心全力努力的人。</p>
        <p>曾经混迹于B站、知乎、微博，曾经只有空想而没有实干，目前大四在读，希望能够改变这一切。</p>
        <h2>关于这个网站</h2>
        <p>
            曾经大学荒废了三年，暑假学习Python和Flask两个月（约100小时），开始实践搭建个人博客，把以前有趣的事情记录下来。从10月16日开始搭建，做第一次git提交，到10月20日基本搭建完成，并部署在VPS上。网站源码可以从Github上查看。</p>
        <h2>关于技能</h2>
        <ul>
            <li>一点Java，一些Python，一点Flask，一点Django</li>
            <li>一丁点爬虫，一点机器学习，一点Hadoop</li>
            <li>一点Linux，一点Git</li>
            <li>大量Photoshop，大量Sony Vegas，大量鬼畜技巧</li>
        </ul>
        <h2>联系我</h2>
        <ul>
            <li>邮箱：niekai1995@live.com</li>
        </ul>
    </div>
{% endblock %}