{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}idachengzi{% endblock %}

{% block page_content %}
    <div class="col-md-8">
        {% include "_post.html" %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, 'main.index') }}
        </div>
    </div>
{% endblock %}
{% block page_sidebar %}
    <div class="col-md-4 sidebar-bg">
        {% include "_sidebar.html" %}
    </div>
{% endblock %}