{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}idachengzi{% endblock %}

{% block page_content %}
    <div class="col-md-12">
        <div id="main">
            <div class="post">
                <h1 class="post-title" style="margin-top: 10px"><a
                        href="{{ url_for('main.post_detail', id=post.id) }}">{{ post.title }}</a></h1>
                <div class="posted" style="margin-top: 5px">作者：
                    <span>
                        <a href="{{ url_for('main.about_me', username=post.author.username) }}">{{ post.author.username }}</a>
                    </span>
                    •
                    <span>
                        <a href="{{ url_for('main.posts_under_category', category_id=post.category.id) }}">{{ post.category.name }}</a>
                    </span>
                    • {{ moment(post.timestamp).format('YYYY年M月D日 HH:mm') }}
                </div>
                <div class="post_body"><p>{{ post.body|markdown2html|safe }}</p></div>
            </div>
            {% if current_user.can(Permission.WRITE_ARTICLES) %}
                <a href="{{ url_for('main.edit_post', id=post.id) }}">
                    <button class="btn btn-danger">Edit</button>
                </a>
                 <a href="{{ url_for('main.delete_post', id=post.id) }}">
                    <button class="btn btn-danger">Delete</button>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}