<div id="sidebar">

    <h1>Check Out My Kickstarter Project!</h1>

    <p>My <a
            href="https://www.kickstarter.com/projects/1124925856/the-new-and-improved-flask-mega-tutorial">Kickstarter</a>
        project is now live!</p>
    <p>Would you like to support my effort to do a major update to the Flask Mega-Tutorial?</p>
    <center><p><a href="https://www.kickstarter.com/projects/1124925856/the-new-and-improved-flask-mega-tutorial"><img
            src="https://blog.miguelgrinberg.com/static/kickstarter_badge.png"></a></p></center>
    <p>I'm hoping to get funding to work on a much deserved update to this tutorial!</p>
    <p>If you have learned from the tutorial and would like to see it updated to 2017 technology including Python 3.6,
        please head over to the <a
                href="https://www.kickstarter.com/projects/1124925856/the-new-and-improved-flask-mega-tutorial">Kickstarter
            page</a> for more information on the campaign.</p>
    <center><p><a href="https://www.kickstarter.com/projects/1124925856/the-new-and-improved-flask-mega-tutorial"><img
            src="https://blog.miguelgrinberg.com/static/kickstarter.jpg" style="border: 2px solid black;"></a></p>
    </center>


    <h1>About Miguel</h1>
    <img style="float: right; margin: 0px 8px 8px 0px; padding: 4px; border: 1px solid #ccc;" src="/static/miguel.jpg"/>
    <p>Welcome to my blog!</p>
    <p>I'm a software engineer, photographer and filmmaker in Portland, Oregon, USA.</p>
    <p>You can also find me on <a href="https://www.facebook.com/miguelgrinbergblog">Facebook</a>, <a
            href="https://plus.google.com/u/0/117786742456929977820">Google+</a>, <a
            href="http://www.linkedin.com/in/miguelgrinberg">LinkedIn</a>, <a href="https://github.com/miguelgrinberg">Github</a>
        and <a href="https://twitter.com/#!/miguelgrinberg">Twitter</a>.</p>
    <p>Thank you for visiting!</p>


    <h1>Categories</h1>
    <ul>
        <button class="btn btn-primary" type="button">
            Messages <span class="badge">4</span>
        </button>
        <button class="btn btn-primary" type="button">
            Messages <span class="badge">4</span>
        </button>
        <button class="btn btn-primary" type="button">
            Messages <span class="badge">4</span>
        </button>
        <button class="btn btn-primary" type="button">
            Messages <span class="badge">4</span>
        </button>

    </ul>

</div>
