{% extends "base.html" %}

{% block title %}idachengzi{% endblock %}

{% block page_content %}
    <div class="page-header">
        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
        <div class="profile-header">
            <h1>{{ user.username }}!</h1>
            {% if user.name or user.location %}
                <p>
                    {% if user.name %}{{ user.name }}{% endif %}
                    {% if user.location %}{{ user.location }}{% endif %}
                </p>
            {% endif %}
            {% if current_user.is_administrator() %}
                <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            {% endif %}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p>
                Menber since {{ moment(user.member_since).format('YYYY-M-D HH:mm') }}.
                Last seen {{ moment(user.last_seen).fromNow() }}.
            </p>
            {% if user == current_user %}
                <a class="btn btn-success" href="{{ url_for('main.edit_profile') }}">Edit Profile</a>
            {% endif %}
            {% if current_user.is_administrator() %}
                <a class="btn btn-danger" href="{{ url_for('main.edit_profile_admin', id=user.id) }}">
                    Edit Profile [Admin]
                </a>
            {% endif %}
        </div>
    </div>
    {% include "_post.html" %}
{% endblock %}